// Navigation Styles here
header {
  padding: 2% 0 2% 0;

  @media @phone {
      width: 90%;
  }
  
  h1 {
      display: inline;
      @media @phone {
          display: block;
          text-align: center;
      }
  }
  nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 50%;
      float: right;
      @media @phone {
          width: 100%;
          justify-content: space-around;
      }

      a {
          margin: 2%;
          font-size: 2rem;
          color: black;
          text-decoration: none;
      }
  }
}